.react-datepicker-wrapper {
  width: 100%;
  min-width: 220px;
  max-width: 280px;
}

@media (max-width: 576px) {
  .react-datepicker-wrapper {
    max-width: 100%;
    min-width: 100%;
  }

  .react-datepicker-popper {
    width: calc(100vw - 32px) !important;
  }

  .react-datepicker {
    width: 100%;
  }
}

:root {
  --eye-color: #4a5e70;
  --remark-color: #f0ac4d;
  --edit-icon-color: #5bc0de;
  --inputField-bg: #f7fafc;
  --detailPage-header-bg: #ebf4ff;
  --status-active: #21c45d;
  --status-inactive: #ff3e1d;
  --cancel-button-bg: #929294;
}
.cancel-button {
  background-color: var(--cancel-button-bg);
}

.status-active {
  background-color: var(--status-active);
}

.background-page {
  background-color: var(--backgroundPage);
}

.status-inactive {
  background-color: var(--status-inactive);
}

.eye-icon {
  background-color: var(--eye-color);
}

.remark-icon {
  background-color: var(--remark-color);
}

.edit-icon {
  background-color: var(--edit-icon-color);
}

.input-field {
  background-color: var(--inputFeild-bg);
}

.detailPage-header {
  background-color: var(--detailPage-header-bg);
}

#DataTables_Table_1 thead tr th .dt-column-header .dt-column-title {
  padding-right: 1px !important;
  text-transform: capitalize !important;
  color: #73879C !important;
}

#DataTables_Table_1 thead tr th .dt-column-header {
  padding-right: 1px !important;
  text-transform: capitalize !important;

}

#DataTables_Table_1 thead tr th .dt-column-title {
  padding-right: 1px !important;
  text-transform: capitalize !important;

}

#DataTables_Table_1 thead tr th div {
  padding-right: 1px !important;
  text-transform: capitalize !important;
  
}

#DataTables_Table_1 thead tr th div.dt-column-header .dt-column-title {
  padding-right: 1px !important;
  text-transform: capitalize !important;

}

#DataTables_Table_1 thead tr th div.dt-column-header {
  padding-right: 1px !important;
  text-transform: capitalize !important;

}
#DataTables_Table_1 tbody tr td div button{
  /* padding: 0.2rem !important; */
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.table tbody tr td{
  padding: 0.4rem 0.3rem !important;
  font-size: 0.74rem !important;
  color: #73879C !important;
}

.table tbody tr td a{
  color: inherit !important;
}

.table tbody tr td div button{
  font-size: 0.7rem !important;
  font-weight: 800 !important;
  /* background: #4a5e70 !important; */
  color: #ffff !important;
  border-radius: 0.24rem !important;
  padding: 0.2rem 0.4rem !important; 
}

.table tbody tr td div button svg{
  margin-right: 0rem !important;
}

.table tbody tr dt-type-numeric sorting_1{
  padding: 0.4rem 0.3rem !important;
}

.table tbody tr dt-type-numeric{
  padding: 0.4rem 0.3rem !important;
}

.table tbody tr sorting_1{
  padding: 0.4rem 0.3rem !important;
}

.compact-form .form-control,
.compact-form .form-select,
.compact-form textarea {
  margin-top: 0.1rem; /* bring inputs slightly closer to labels */
}

.compact-form .card-title,
.compact-form .fs-6,
.compact-form .ql-editor + .ql-container,
.compact-form .ql-toolbar {
  margin-bottom: 0.1rem;
}

.custom-quill, 
.ql-container {
  margin-top: 0;
}

.five-col-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px; 
}
.four-col-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px; 
  margin-bottom: 0px;
}