.react-datepicker-wrapper {
  width: 100%;
  min-width: 220px;
  max-width: 280px;
}

@media (max-width: 576px) {
  .react-datepicker-wrapper {
    max-width: 100%;
    min-width: 100%;
  }
  
  .react-datepicker-popper {
    width: calc(100vw - 32px) !important;
  }
  
  .react-datepicker {
    width: 100%;
  }
}


:root{
  --eye-color: #4a5e70;
  --remark-color: #f0ac4d;
  --edit-icon-color: #5456cc;
  --inputField-bg: #f7fafc;
}

.eye-icon{
  background-color: var(--eye-color);
}
.remark-icon{
  background-color: var(--remark-color);
}
.edit-icon{
  background-color: var(--edit-icon-color);
}
.input-field{
  background-color: var(--inputFeild-bg);
}